<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @autor.nombre %>
</p>

<p>
  <b>Especialidad:</b>
  <%= @autor.especialidad %>
</p>

<p>
  <b>Pic:</b>
  <%= image_tag url_img(@autor.pic.id,@autor.pic.nombre), :title => @autor.pic.titulo %>
</p>


<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autors_path %>
