<%= form_for(@pic, :html=>{:multipart =>true}) do |f| %>
  <% if @pic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pic.errors.count, "error se ha detectado", "errores se han detectado") %> :</h2>

      <ul>
      <% @pic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label "Imagen" %><br />
    <%= f.file_field "uploadfield" %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar'%>
  </div>
<% end %>
