<h1>Listado de Imagenes</h1>

<table>
  <tr> <th></th>
    <th>Titulo</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pics.each do |pic| %>
  <tr>
  	<td align="center"><%= image_tag url_img(pic.id,pic.nombre), :title => pic.titulo ,:style=>"max-height:80px;max-width:80px;"%></td>
    <td><%= pic.titulo %></td>
    <td><%= pic.nombre %></td>
    <td><%= pic.tipo %></td>
    <td><%= link_to 'Show', pic %></td>
    <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
    <td><%= link_to 'Destroy', pic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Imagen', new_pic_path %>
