<%= form_for(@art) do |f| %>
  <% if @art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% @art.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :resumen %><br />
    <%= f.text_field :resumen %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br />
    <%= f.text_field :contenido %>
  </div>
 
  <div class="field">
 
	<p><label for="blog_content">Content</label><br/>
<%= text_area 'blog', 'content', :cols => "50"  %></p>

  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
