<div id="beNuevo"><%= link_to 'Nuevo Articulo', new_art_path %></div>
<h1>Listado de Articulos</h1>

<br>
<% @arts.each do |art| %>
	<div>
		<div class="filaTitulo">			
			<div style="float: right;"><%= link_to 'Editar', edit_art_path(art) %>
				<%= link_to 'Borrar', art, :confirm => 'Estas seguro?', :method => :delete %>
			</div>
			<div><%= link_to art.titulo,art %></div>
		</div>
		<div>
			<%= art.resumen[0,250] %>
		</div>
	</div>
<% end %>
<br />

