<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @art.string %>
</p>

<p>
  <b>Text:</b>
  <%= @art.text %>
</p>

<p>
  <b>Text:</b>
  <%= @art.text %>
</p>


<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
